body{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
.news_ui{
    width:1280px;
    height:700px;
    background-color: #ECEFF1;
    overflow: hidden;
}
.blog_feed h3{
    font-family: Poppins;
}

.news_body{
   
    width: 70%;
    height:75%;   
    position:relative;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);        
    background: #ECEFF1;
    border: 1px solid #F1F1F1;
    box-sizing: border-box;
    box-shadow: -8px -8px 20px rgba(255, 255, 255, 0.8), 8px 8px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding:2%;
    overflow-y: scroll;
}

.new_picture{
    width:70%;
    height:50%;
    background-color: rgb(195, 195, 195);
    border-radius: 10px;
    box-shadow: 2.98501px 2.98501px 7.96003px rgba(0, 0, 0, 0.15);
    overflow:hidden;
}


.new_picture img{
    width:100%;
    height:100%;
    object-fit: cover;
}

.news_body h1{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */


    color: #1D1D1D;

}

.news_body p{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 121.03%;
    /* or 16px */
    
    text-align: justify;
    
    color: #333333;
    

}

@media (max-width:769px) {

    
    .news_ui {
        width:100vw;
        height: auto;
        overflow: visible;
       
       
      
        
 
       
    }

.news_body {
    width:100%;
    height: 100vh;
    background-color: transparent;
  
   top:30%;
   transform: translate(-50%, 10%);   
 
   overflow-y: scroll;

}

.new_picture{
    width: 100%;
    height:auto;

   
}

.news_body h1{
    font-size: 4vw;
}

.news_body p {
    
    width:90%;
    
  
}



}


