body{
    margin:0px;
    padding:0px;
}
.image_holder{
    all:unset;
    width: 850px;
    height: 510px;
    background-color: #ECEFF1;;
    border-radius: 20px;
    position: absolute;
    z-index:200;    
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    
}



.image_box{
   
    margin:auto;
    display: flex;
    align-items:center;
    justify-content:space-around ;
    
    width: 75%;
    height:70%;

    margin-top:7.8%;
   
}

.image_box img {
   width:30%;
    
}

.image_box:last-child{
    width:90%;
}






