.body  *{
    all:unset;
    padding:0;
    margin:0;
  
}

.peepNews_container{
    width:1280px;
    height:700px;
    background-color:  #ECEFF1;;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.total_news_holder{
    width:95%;
    height:70%;
   
  
    margin:auto;

    display: flex;
    
    align-items: center;
    justify-content: space-between;

    }

.news{
    width:32%;
    height:100%;
  
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
}

.long_news{
    padding:0px;
    margin:0px;
    width:100%;
    height:45%;
    border-radius: 10px;
 
    position: relative;
    filter: drop-shadow(2.98501px 2.98501px 7.96003px rgba(0, 0, 0, 0.15));
}

.short_news{
    width:48%;
    height:50%;
    border-radius: 10px;
    background-color: rgb(15, 172, 172);
    position: relative;
    filter: drop-shadow(2.98501px 2.98501px 7.96003px rgba(0, 0, 0, 0.15));
}


p{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    color:white;
    font-size:14px;
    width:80%;
    margin-left:10px;
}





.top_header{
   
    
    position: relative;
    width:50%;
    margin-left: 3%;;
    margin-top:3%;
    
}

.top_header h1{
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;



color: #0B77BE;
}

.top_header h6{
    font-family: 'Poppins';

font-weight: 400;
font-size: 10px;
margin-bottom:300px;
position: absolute;
top:50%;


/* identical to box height */


color: #1D1D1D;
}


.down_text{
    position:absolute;
    bottom:1%;

}


@media (max-width:769px) {
    .peepNews_container{
        width:100vw;
        height:200vh;
        max-height: 2000px;

        
    }

    .total_news_holder{
        flex-direction: column;
       
        margin-top:5vh;
        height: 180vh;
       max-height: 2000px;
    }

    .news{
        width: 100%;;
        
       
        
    }

    .top_header{
        width: 90%;
    }

    .news p{
        font-size: 3vw;
    }

    .long_news{
        background-size: contain;
    }


}

@media (max-width:616px) {
    .long_news:nth-child(1) p{
        font-size: 5vw;
    }
}

@media (max-width:300px) {
   .peepNews_container{
       height: 120vh;
   }
}

