body,html{
    margin: auto;
    
}

.mission_container{
    width:1280px;
    height:700px;
    margin: 0px auto;
    display: flex;
    overflow: hidden;
    background-image: url("../../assets/big head.png");

    background-repeat: no-repeat;

}

.mission_left{
    width: 43%;
    height: 100%;

    position: relative;
}

.mission_right{
    width:57%;
    height: 100%;
    background: #ECEFF1;
   position: relative;
  
    
  

}
.mission_holder{
    width:100%;
    height:100%;
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    right:40px;

    
    
   

}


.idea_1{
   
    display: flex;
    align-items: flex-start;
    padding-top: 30px;

}
.info_holder{
    text-align: justify;
  
    margin-left: 20px;
    width:90%;
    display: flex;
    flex-direction: column;
  
    


  }


.info_holder span{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 121.03%;

    color: #C23131;

}

.info_holder p{

    font-family: Poppins;
  
    font-weight: 300;
    font-size: 12px;
    line-height: 121.03%;
    /* or 15px */
    
    text-align: justify;
    
    color: #000000;
    
top:0px


}




#vision{
color: #BAB425;
}


#goals{
    color:#75A70A;
}

@media (max-width:769px){
  
    .mission_container{
     
       
        width:100vw;
        height: calc(100vh + 800px );
      
      
        background-image:none;
        display: flex;
        flex-direction: column;
        
     
        background: #ECEFF1;
          
      
    
    }

    .mission_left{
      
        width:100%;
        height:30%;
        background-image: url("../../assets/big head.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .mission_right{
        width:100%;
        height:100%;

        
  
        
    }
    .mission_holder{
      
        left:50%;
        width:95%;
        transform: translatex(-50%);
        margin-top: 5%;
        
         gap:40px;
       
        
        
    
    }
    .idea_1{
        border-radius: .4rem;
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
        background-color: white;
        margin:0px;
    ;
    
    }
    
    .info_holder{
        text-align: justify;

        margin-left: 20px;
        width:80%;
        display: flex;
        flex-direction: column;

    
      }

      .info_holder p{
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 121.03%;
        width:90%;
      
 
        color: #1D1D1D;
      }

      .idea_1:nth-child(1){
        background-image: url("../../assets/mission_mobile_bg.png");
        background-repeat: no-repeat;
        background-position:right;
        background-size: 5rem;

      }

      .idea_1:nth-child(2){
        background-image: url("../../assets/vision_mobile_bg.png");
        background-repeat: no-repeat;
        background-position: right;
        background-size: 5rem;

      }

}

@media (max-width:447px) {

   
    .mission_holder{
        height: auto;
        width:100vw;
    }

    .mission_container p{
        font-size: 3vw;;
        width: 100;
    }
    .mission_container{
        overflow-y: scroll;
    }

    .idea_1{
    flex-direction: column;
    align-items: center;
    }
    .idea_1 span{
   
       align-self: center;
     
    
      
    }
    .idea_1 img{
        width:20vw;
    margin-left:6%;

    }



    .mission_left{
        
        height:20%;
    }
}