html,body{

    margin: auto;
    padding:0px;
   
    }

    body{
        background-color:  #ECEFF1;;
    }

.peep_container{


    height: auto;
    width:1280px;
    height: auto;

    margin:0px auto;
    padding-top:0px;
    background-color:  #ECEFF1;;
    overflow-y: auto;
    
    
  

}

.down_there{
    background-color: #6ebef3;
    
}

.peep_top{
    width:100%;
    height:254px;
    background-image: url("../../assets/image 11.svg");
    background-position: center;  
 display: inline-block;
 position: relative;

    
}

.peep_all{
    margin:30px auto;
    height:90%;
    width:95%;
    display: flex;
    
    padding:0px;

 
}

.peep_left{

box-sizing: border-box;
padding-top:0px;
padding:0px;

max-height: max-content;
height: auto;

}



.peep_right{

   
   position:fixed;
  margin-left:850px;




  
   
    
   
    }

div.stats_holder{
  
    margin: 10px auto;
    text-align: center;
    width:90%;
    height:6%;
    background-color: rgb(255, 255, 255);
    text-align: center;
    border-radius:7px;
    display: flex;
    flex-direction: column;
  
   
    
   
   
}
div.stats_info{

    margin:  auto;
    width:90%;
    height:80px;
    display:flex;
    align-items: center;
    justify-content: space-around;

}



.a_left{
    padding:10%;
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    width:50%;
  
    
}

div #short_line{
  
    width:4px;
    height:35%;
    margin: unset;
    background-color: gray;
  
   

}







div.stats_info #peep_span{
    all:unset;
    font-size:12px;
    color: gray;


}

div.stats_info h4{
    all:unset;
    color: rgb(15, 90, 252);
    font-size:30px;
    font-weight:600;
}










div.stats_holder #peep_span{
    all:unset;
    font-size:12px;
    color: gray;


}


nav .peep_tribe_lower{
    width:70%;
    margin: 0px auto;
 
    position:relative;
    bottom:0px;
}

ul.sub_nav{
all:unset;
width:40%;
height:15%;
display: flex;
background-color: transparent;
margin: 16.6% auto;











}


ul.sub_nav  button{
    border:none;
   width: 100%;
    
    text-align: center  ;
    background-color: transparent;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 121.03%;
    /* identical to box height, or 17px */
    color: #F1F1F1;
    /* identical to box height, or 17px */
    
    cursor: pointer;
}


@media (max-width:769px){
   .peep_container{
       width:100vw;
       height: 100vh;
     
   }



   ul.sub_nav{
    margin: unset;
       width:100%;
        position: absolute;
       bottom:5%;
      
       
      
        
   }
   .peep_right{
       display: hidden;
   }
   .peep_left{
    width:100%;
    height:95%;
   
    }
    
}



@media (max-width:481px){
  
    .peep_top{
        border:2px solid rgb(184, 247, 236);
    }
 
 
 =
    .peep_right{
        display: hidden;
        width:0%;
    }

    ul.sub_nav  button{
        font-size: 12px;
    }
    .peep_left{
  
     
     width:100%;
     height:95%;
    
     }
     
 }


 
@media (max-width:320px){
    .peep_container{
        width:320px;
        
    }
    .peep_top{
        border:2px solid rgb(184, 247, 236);
    }
 
 
    .peep_right{
        display: hidden;
        width:0%;
    }
    .peep_left{
       
     
     width:100%;
     height:95%;
    
     }
     


     ul.sub_nav  button{
         font-size: 9px;
     }
 }